<div class="cube">
  <img class="cube"
    src="{{this.imageUrl}}">
  <p class="name">{{this.name}}</p>
  <p><span>Difficulty level:</span> {{this.difficultyLevel}}</p>
  <a class="btn" href="/cube/{{this._id}}">Details</a>
</div>